{block content}
    <h1>{_'Stránka nenalezena'}</h1>
    <p>{_'Vámi požadovaná stránka nebyla nalezena. Je možné, že adresa je nesprávná, nebo že stránka již neexistuje. Prosím, využijte vyhledávač k nalezení toho, co hledáte.'}</p>
    <p>error 404</p>
{/block}