{block content}
    <h1>{_'Chyba serveru'}</h1>
    <h2>{$page->name}</h2> 
    <p>{_'Je nám líto! Na serveru došlo k vnitřní chybě a nebyl schopen dokončit Váš požadavek. Prosím, zkuste to znovu později.'}</p>
    <p>error 500</p>
{/block}