{block content}
    <h1>{_'Stránka nebyla nelezena'}</h1>
    <p>{_'Tato stránka byla již odstraněna nebo přesunuta.'}</p>
    <p>{_'Pokračovat můžete na'} <a href="{plink :Front:Default:}">{_'Úvodní stranu'}</a> {_'nebo přejít na'} <a href="{plink :Front:Sitemap:}">{_'mapu webu'}</a> {_'a vyhledat si požadovanou stránku'}.</p>
{/block}